---
// Rachel & Tim's Wedding Website - Home Page
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rachel & Tim's Wedding - October 9, 2026</title>
    <meta name="description" content="Join us for our wedding celebration at Radio Star, Brooklyn" />
  </head>
  <body>
    <h1>Rachel & Tim's Wedding</h1>
    <p>Friday, October 9th, 2026</p>
    <p>Radio Star, Brooklyn</p>
  </body>
</html>